body{
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: serif;
    text-align: center;
}
h1{
    font-size: 72px;
}
h2{
    font-size: 56px;
}
p{
    font-size: 36px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    display: inline;
    font-weight: bold;
    font-size: 36px;
    padding: 0% 5%;
}
img{
    width: 100%;
    opacity: 50%;
}
.header-logo{
    text-align: left;
    position: absolute;
    top: 550px;
    left: 0px;
    font-size: 90px;
}
.header-list li{
    background-color: rgb(47, 47, 47);
}
.header{
    position: relative;
}
.header img{
    opacity: 0.75;
}
.main{
    text-align: center;
}
.chara{
    float: left;
    margin-left: 20px;
    margin-bottom: 100px;
    background-color: rgb(26, 26, 26);
    width: 20%;
}
.text-container{
    padding-bottom: 10%;
}
.kou{
    color: red;
}
.you{
    color: rgb(57, 72, 169);
}
.ei{
    color: blueviolet;
}
.ka{
    color: lightgreen;
}
.fu{
    color: green;
}
.chi{
    color: brown;
}
.sei{
    color: aqua;
}